 <li
    class="w-full h-auto py-2 px-4 shadow-sm shadow-gray-100  block rounded-xl my-2 cursor-pointer"
    [ngClass]="[
    index % 2 === 0 ? 'bg-gray-100' : 'bg-gray-50',
    selected ? 'bg-blue-500' : ''
     ]"
    (click)="selectUser()">
    <h2
        class="text-lg font-normal text-black tracking-wide flex justify-between items-center">
        {{user.name}}
        <p
            class="p-2 rounded-lg bg-gray-300 text-center text-sm font-medium text-white  ">
            {{user.role |uppercase}}
        </p>
    </h2>
    <p class="text-sm font-medium text-black py-1">
        {{ user.email}}
    </p>
</li>