<div
    class="flex h-[86vh] overflow-hidden mt-4 bg-[var(--surface)] text-[var(--foreground)]">
    <!-- Sidebar -->
    <aside
        class="w-88 h-full bg-[var(--surface)] p-4 ">
        <app-user-profile-card
            [userInfo]="userInfoListWithIcon"></app-user-profile-card>
        <ul class="ring-2 ring-gray-300 h-[45vh] rounded-lg ">
            <p
                class="uppercase italic text-xl font-bold tracking-wide p-5 flex justify-center">
                Menu
            </p>
            <li
                *ngFor="let item of menuItems"
                (click)="scrollToSection(item.id)"
                [ngClass]="[
                    'cursor-pointer p-4 text-lg font-medium tracking-wide transition-colors duration-200 rounded',
                    activeSection === item.id ? 'bg-[var(--sidebar-active-bg)] border-l-2 border-r-1 border-gray-300 rounded-lg' : 'hover:bg-[var(--sidebar-hover-bg)]'
                ]">
                {{ item.label }}
            </li>

        </ul>
    </aside>

    <!-- Content Area -->
    <main class="flex-1 overflow-y-auto custom-scrollbar">
        <!-- Basic Info -->
        <app-section-card id="basic" [title]="'Basic Information'"
            [icon]="iconEdit" (openDialog)="editUserInfo()">
            <app-dynamic-section-card-read-field
                [userInfo]="userInfoList"></app-dynamic-section-card-read-field>
        </app-section-card>
        <!--Basic Info end-->
        <!-- project details -->
        <app-section-card id="projects" [title]="'Projects'">
            <div
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
                <app-project-card
                    *ngFor="let project of userProfileData.projects; let i = index"
                    [project]="project"
                    [index]="i"
                    [selected]="selectedIndex === i"
                    [icon]="iconEdit"
                    [showUserDetails]="true"
                    [projectCardDisabled]="false"
                    (selectProject)="handleProject($event)"
                    (editProject)="openPerformanceScoreDialog($event)" />
            </div>
        </app-section-card>
        <!-- project details end -->
        <!-- performance details-->
        <app-section-card id="performance" [title]="'Performance'">
            <app-dynamic-progress-bar [progressBarTitle]="'Performance Score'"
                [score]="userProfileData.performanceScore"
                [striped]="true"></app-dynamic-progress-bar>
            <app-dynamic-rating-star [titleTag]="'Rating'"
                [rating]="userProfileData.rating"></app-dynamic-rating-star>
        </app-section-card>
        <!-- performance details end-->
    </main>

    <!-- Basic Info update dialog(for this need one child handle this code ) -->
    <app-dynamic-dialog *ngIf="userInfoDialog" title="Edit User " size="lg"
        [show]="userInfoDialog" [showFooter]="true" (onClose)="closeDialog()">
        <div>
            <app-user-info-form
                [profileForm]="profileForm" />
        </div>
        <div class="w-full" footer-controls>
            <div class="flex justify-end">
                <app-dynamic-button
                    [mode]="'submit'"
                    [size]="'sm'" [shadow]="'button'"
                    [buttonRounded]="'lg'"
                    [buttonText]="'Update'"
                    (buttonClick)="updateUser()"></app-dynamic-button>
            </div>
        </div>
    </app-dynamic-dialog>
    <!-- Basic Info update dialog end -->

    <!-- update project performance_score each project with dialog  -->
    <app-dynamic-dialog *ngIf="projectScoreDialog"
        title="Update Project Performance Score "
        size="sm"
        [show]="projectScoreDialog" [showFooter]="true"
        (onClose)="closeDialog()">
        <div>
            <app-project-score-form
                [projectScore]="projectScore" />
        </div>
        <div footer-controls class="w-full">
            <div class="flex justify-end">
                <app-dynamic-button
                    [mode]="'submit'"
                    [size]="'sm'" [shadow]="'button'"
                    [buttonRounded]="'lg'"
                    [buttonText]="'Submit'"
                    (buttonClick)="submitProjectScoreUpdate()"></app-dynamic-button>
            </div>
        </div>
    </app-dynamic-dialog>
    <!-- update project performance_score each project with dialog end  -->
</div>
