<div
    class="flex h-[86vh] overflow-hidden mt-4 bg-[var(--surface)] text-[var(--foreground)]">
    <!-- Sidebar -->
    <aside
        class="w-64 h-full bg-[var(--surface)]  space-y-4 shadow-sm shadow-gray-400 ">
        <div
            class="w-full block h-auto p-4 border-l-8  rounded-xl">
            <h2
                class="text-lg font-medium space-x-2 flex justify-start items-center ">
                <fa-icon [icon]="iconUser"
                    class="text-xl  p-1"></fa-icon>
                {{userProfileData.name}}
                <fa-icon [icon]="iconCircle"
                    class="text-lg  p-1"
                    [ngClass]="{
           'text-green-500': userProfileData.status === 'active',
           'text-red-500': userProfileData.status !== 'active'
         }"></fa-icon>
            </h2>
            <p
                class="space-x-2 flex justify-start items-center text-sm font-medium tracking-wide ">
                <fa-icon [icon]="iconUserRole" (click)="editUserInfo()"
                    class="text-lg  p-1"></fa-icon>
                {{ userProfileData.role }}
            </p>
            <p
                class="space-x-2 flex justify-start items-center text-sm font-medium tracking-wide ">
                <fa-icon [icon]="iconMail"
                    class="text-lg p-1"></fa-icon>
                {{ userProfileData.email }}
            </p>
            <p
                class="space-x-2 flex justify-start items-center text-sm font-medium tracking-wide ">
                <fa-icon [icon]="iconPhone"
                    class="text-lg p-1"></fa-icon>
                {{ userProfileData.phone }}
            </p>
            <p
                class="space-x-2 flex justify-start items-center text-sm font-medium tracking-wide ">
                <fa-icon [icon]="iconLocation"
                    class="text-lg p-1"></fa-icon>{{
                userProfileData.location }}</p>
        </div>
        <ul class="border-t-2 border-gray-200 p-0 ">
            <li
                *ngFor="let item of menuItems"
                (click)="scrollToSection(item.id)"
                [ngClass]="{
        'border-l-4 border-l-blue-300   ': activeSection === item.id,
        'hover:bg-gray-200 ': activeSection !== item.id
      }"
                class="cursor-pointer p-4 text-lg font-medium tracking-wide ">
                {{ item.label }}
            </li>
        </ul>
    </aside>

    <!-- Content Area -->
    <main class="flex-1 overflow-y-auto custom-scrollbar">

        <!-- Basic Info -->
        <app-section-card id="basic" [title]="'Basic Information'"
            [icon]="iconEdit" (openDialog)="editUserInfo()">
            <p><strong>Name:</strong> {{ userProfileData.name }}</p>
            <p><strong>Email:</strong> {{ userProfileData.email }}</p>
            <p><strong>Role:</strong> {{ userProfileData.role }}</p>
            <p><strong>Department:</strong> {{ userProfileData.department }}</p>
            <p><strong>Phone:</strong> {{ userProfileData.phone }}</p>
            <p><strong>Location:</strong> {{ userProfileData.location }}</p>
        </app-section-card>
        <!--Basic Info end-->

        <!-- project details -->
        <app-section-card id="projects" [title]="'Projects'">
            <div
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
                <app-project-card
                    *ngFor="let project of userProfileData.projects; let i = index"
                    [project]="project"
                    [index]="i"
                    [selected]="selectedIndex === i"
                    [icon]="iconEdit"
                    [showUserDetails]="true"
                    [projectCardDisabled]="false"
                    (selectProject)="handleProject($event)"
                    (editProject)="openPerformanceScoreDialog($event)" />
            </div>
        </app-section-card>
        <!-- project details end -->

        <!-- performance details-->
        <app-section-card id="performance" [title]="'Performance'">
            <p class="mb-2 w-full flex justify-between">
                <strong>Performance Score:</strong> {{
                userProfileData.performanceScore }}%
            </p>
            <div class="w-full bg-gray-200 rounded-full h-5">
                <div
                    class="bg-[linear-gradient(90deg,_#d6d7da8e_0%,_#2643d194_100%)] h-5 rounded-full transition-all duration-500 flex justify-center items-center"
                    [style.width.%]="userProfileData.performanceScore">
                </div>
            </div>
            <p class="flex items-center gap-2">
                <strong>Rating:</strong>
                <ng-container *ngFor="let star of ratingStars">
                    <fa-icon
                        [icon]="
          star === 'full'
            ? solidStar
            : star === 'half'
            ? halfStar
            : solidStar
        "></fa-icon>
                </ng-container>
            </p>
            <p><strong>Total Hours:</strong> {{
                userProfileData.totalTimeSpentHours }}</p>
        </app-section-card>
        <!-- performance details end-->
    </main>

    <!-- Basic Info update dialog(for this need one child handle this code ) -->
    <app-dynamic-dialog *ngIf="userInfoDialog" title="Edit User " size="lg"
        [show]="userInfoDialog" [showFooter]="true" (onClose)="closeDialog()">
        <div>
            <app-user-info-form
                [profileForm]="profileForm"
                (update)="updateUser()" />
        </div>

    </app-dynamic-dialog>
    <!-- Basic Info update dialog end -->

    <!-- update project performance_score each project with dialog  -->
    <app-dynamic-dialog *ngIf="projectScoreDialog"
        title="Update Project Performance Score "
        size="sm"
        [show]="projectScoreDialog" [showFooter]="true"
        (onClose)="closeDialog()">
        <div>
            <app-project-score-form
                [projectScore]="projectScore"
                (formSubmitted)="submitProjectScoreUpdate()" />
        </div>
    </app-dynamic-dialog>
    <!-- update project performance_score each project with dialog end  -->
</div>
