

<div class="flex h-[86vh] overflow-hidden mt-4">
    <!-- Sidebar -->
    <aside
        class="w-64 h-full bg-white  text-black  space-y-4 shadow-sm shadow-gray-400 ">
        <div
            class="w-full block h-auto p-4 border-l-8 border-l-blue-300 rounded-xl">
            <h2
                class="text-lg font-medium space-x-2 flex justify-start items-center ">
                <fa-icon [icon]="iconUser"
                    class="text-xl text-gray-500 p-1"></fa-icon>
                {{userProfileData.name}}
                <fa-icon [icon]="iconCircle"
                    class="text-lg text-gray-500 p-1"
                    [ngClass]="{
           'text-green-500': userProfileData.status === 'active',
           'text-red-500': userProfileData.status !== 'active'
         }"></fa-icon>
            </h2>
            <p
                class="space-x-2 flex justify-start items-center text-sm font-medium tracking-wide text-black">
                <fa-icon [icon]="iconUserRole" (click)="editUser()"
                    class="text-lg text-gray-500 p-1"></fa-icon>
                {{ userProfileData.role }}
            </p>
            <p
                class="space-x-2 flex justify-start items-center text-sm font-medium tracking-wide text-black">
                <fa-icon [icon]="iconMail"
                    class="text-lg text-gray-500 p-1"></fa-icon>
                {{ userProfileData.email }}
            </p>
            <p
                class="space-x-2 flex justify-start items-center text-sm font-medium tracking-wide text-black">
                <fa-icon [icon]="iconPhone"
                    class="text-lg text-gray-500 p-1"></fa-icon>
                {{ userProfileData.phone }}
            </p>
            <p
                class="space-x-2 flex justify-start items-center text-sm font-medium tracking-wide text-black">
                <fa-icon [icon]="iconLocation"
                    class="text-lg text-gray-500 p-1"></fa-icon>{{
                userProfileData.location }}</p>
        </div>
        <ul class="border-t-2 border-gray-200 p-0 ">
            <li
                *ngFor="let item of menuItems"
                (click)="scrollToSection(item.id)"
                [ngClass]="{
        'border-l-4 border-l-blue-300 bg-gray-100  ': activeSection === item.id,
        'hover:bg-gray-200 ': activeSection !== item.id
      }"
                class="cursor-pointer p-4 text-lg font-medium tracking-wide ">
                {{ item.label }}
            </li>
        </ul>
    </aside>

    <!-- Content Area -->
    <main class="flex-1 overflow-y-auto custom-scrollbar">
        <!-- Basic Info -->
        <app-section-card [title]="'Basic Information'" [icon]="iconEdit" (openDialog)="editUser()">
            <p><strong>Name:</strong> {{ userProfileData.name }}</p>
            <p><strong>Email:</strong> {{ userProfileData.email }}</p>
            <p><strong>Role:</strong> {{ userProfileData.role }}</p>
            <p><strong>Department:</strong> {{ userProfileData.department }}</p>
            <p><strong>Phone:</strong> {{ userProfileData.phone }}</p>
            <p><strong>Location:</strong> {{ userProfileData.location }}</p>
        </app-section-card>

        <app-section-card [title]="'Projects'">
            <div
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-3">
                <app-project-card
                    *ngFor="let project of userProfileData.projects; let i = index"
                    [project]="project"
                    [index]="i"
                    [selected]="selectedIndex === i"
                    (selectProject)="handleProject($event)">
                </app-project-card>
            </div>
        </app-section-card>

        <app-section-card [title]="'Performance'">
            <p class="mb-2 w-full flex justify-between">
                <strong>Performance Score:</strong> {{
                userProfileData.performanceScore }}%
            </p>
            <div class="w-full bg-gray-200 rounded-full h-5">
                <div
                    class="bg-[linear-gradient(90deg,_#d6d7da8e_0%,_#2643d194_100%)] h-5 rounded-full transition-all duration-500 flex justify-center items-center"
                    [style.width.%]="userProfileData.performanceScore">
                </div>
            </div>
            <p class="flex items-center gap-2">
                <strong>Rating:</strong>
                <ng-container *ngFor="let star of ratingStars">
                    <fa-icon
                        [icon]="
          star === 'full'
            ? solidStar
            : star === 'half'
            ? halfStar
            : solidStar
        "
                        [ngClass]="{
          'text-yellow-400': star !== 'empty',
          'text-gray-300': star === 'empty'
        }"></fa-icon>
                </ng-container>
            </p>
            <p><strong>Total Hours:</strong> {{
                userProfileData.totalTimeSpentHours }}</p>
        </app-section-card>
    </main>

    <app-dynamic-dialog *ngIf="showDialog" title="Edit User " size="lg"
        [show]="showDialog" [showFooter]="true" (onClose)="closeDialog()" [submitBtnTitle]="'Update'" >
        <div>
            <form [formGroup]="profileForm">

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label class="block font-medium">User Name
                        </label>
                        <input type="text"
                            formControlName="name" 
                            class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400 opacity-15" />
                    </div>
                    <div>
                        <label class="block font-medium">Email</label>
                        <input type="text"
                            formControlName="email"
                            class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    </div>
                    <div>
                        <label class="block font-medium">Phone</label>
                        <input type="text"
                            formControlName="phone"
                            class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    </div>
                    <div>
                        <label class="block font-medium">Location</label>
                        <input type="text"
                            formControlName="location"
                            class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    </div>

                </div>
                <!-- <div [formGroup]="form" form-body>
                </div> -->
                <!-- Projected form fields go here -->
                <!-- <ng-content select="[form-body]"></ng-content> -->
            </form>
        </div>
        <div class="w-full" footer-controls>
            <div class=" flex justify-end">
                <button
                    (click)="updateUser()"
                    [class]="color + ' text-black text-sm tracking-wide font-medium px-5 py-2 rounded hover:opacity-90'">
                    {{ submitBtnTitle }}
                    <!-- [disabled]="disableIfInvalid && form.invalid" -->
                </button>
            </div>
        </div>
    </app-dynamic-dialog>
</div>
