<div
  class="w-full h-20 flex justify-center items-center absolute top-0 z-50 bg-[var(--surface)] text-[var(--foreground)] shadow-[var(--shadow-button)]"
>
  <div class="w-full h-full p-2 m-0 flex justify-start align-middle">
    <!-- Left Section -->
    <div class="w-6/12 h-full flex justify-start items-center gap-3 px-2">
      <fa-icon
        [icon]="showSidebar ? iconBars : iconClose"
        class="text-3xl p-2"
        (click)="closeNavigattion()"
      >
      </fa-icon>
      <h1 class="text-xl font-bold">{{ pathWithSlashes }}</h1>
    </div>

    <!-- Right Section -->
    <div class="w-6/12 h-full flex justify-end items-center gap-5 px-2">
      <!-- Theme Toggle -->
      <app-theme-toggle />

      <!-- User Profile Dropdown -->
      <div class="w-auto h-full relative flex justify-end items-center">
        <app-dynamic-button
          #trigger
          [mode]="'rounded'"
          [icon]="iconUserClick"
          [size]="'md'"
          [shadow]="'default'"
          [buttonRounded]="'full'"
          (buttonClick)="showUserMenu()"
        ></app-dynamic-button>
        <!-- Dropdown Menu -->
        <app-user-dropdown-card [(visible)]="show" (logout)="logoutUser()" />
      </div>
    </div>
  </div>
</div>
