<app-child-layout>
    <div main-component>

        <!-- top section -->
        <div
            class="w-full h-auto py-4 flex justify-center items-center gap-4 bg-[var(--surface)] text-[var(--foreground)]">
            <div
                class="w-2/3 h-auto p-2 rounded-2xl shadow-[var(--shadow-button)]">
                <app-overview-chart [type]="'bar'"
                    [data]="chartData"
                    [options]="chartOptions"
                    [chartHeight]="500"></app-overview-chart>
            </div>
            <div
                class="w-1/3 h-[500px] rounded-2xl flex flex-col p-4 mx-4 shadow-[var(--shadow-card)]">
                <!-- Header -->
                <app-user-item [title]="'User list'" class="flex-1 h-full">
                    <app-user-list-item
                        *ngFor="let user of userList; let i = index"
                        [index]="i"
                        [user]="user"
                        [selected]="selectedIndex === i"
                        (userSelected)="handleUserSelection($event)"></app-user-list-item>
                </app-user-item>
            </div>

        </div>
        <!-- top section end -->

        <div
            class="w-full h-auto py-4 px-5 flex justify-between items-center gap-4 bg-[var(--surface)] text-[var(--foreground)]">
            <div
                class=" w-6/12 h-auto p-2 rounded-2xl shadow-[var(--shadow-button)]">
                <app-overview-chart
                    [type]="'bar'"
                    [data]="chartDataProjectDistribution"
                    [options]="projectChartOptions" [chartHeight]="500" />
            </div>
            <div
                class="w-5/12 h-auto p-2 rounded-2xl shadow-[var(--shadow-button)]">
                <!-- Chart 3: Summary -->
                <app-overview-chart
                    [type]="'bar'"
                    [data]="chartDataAllUsers"
                    [options]="summaryChartOptions" [chartHeight]="500" />
            </div>
        </div>
        <!-- bottom section -->
        <div
            class="w-full h-auto py-4 grid grid-cols-3 gap-4 bg-[var(--surface)] text-[var(--foreground)]">
            <app-project-card
                *ngFor="let project of projectList; let i=index"
                [project]="project" [index]="i"
                [selected]="selectedIndex === i "
                (selectProject)="handleProject($event)"></app-project-card>
        </div>
        <!-- bottom section end -->
    </div>
</app-child-layout>
