<div class="flex justify-center items-center h-[86vh] overflow-hidden mt-4">
  <div
    [style.width]="'30vw'"
    [style.height]="'50vh'"
    class="bg-[var(--surface)] text-[var(--foreground)] rounded-xl shadow-sm shadow-blue-500 p-6 flex justify-center items-center w-full"
  >
    <form [formGroup]="profileForm" class="w-full">
      <!-- New Password Field -->
      <h2
        class="p-4 text-2xl font-bold tracking-wide flex justify-center italic"
      >
        Reset your password
      </h2>
      <div *ngIf="size$ | async as size">
        <p>Width: {{ size.width }}</p>
        <p>Height: {{ size.height }}</p>
      </div>
      <!-- practice Rx.jx -->
      <div class="p-4 w-full flex justify-between items-center">
        <button
          (click)="onClick()"
          [style.width.px]="smoothedWidth"
          class="transition-all duration-300 ease-in-out h-10 p-2 bg-[var(--foreground)] text-[var(--surface)]"
        >
          CLICK TO COUNT
        </button>
        <p class="text-[var(--foreground)] font-medium p-2">
          Clicked: {{ clickCount }} times
        </p>
      </div>
      <!-- practice Rx.jx end -->

      <div class="my-4 relative">
        <label for="password" class="block mb-1 text-sm font-medium">
          New Password
        </label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          formControlName="password"
          placeholder="Enter new password"
          class="w-full p-3 pr-10 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400"
          [ngClass]="{
            'border-red-500 focus:ring-red-400':
              profileForm.get('password')?.touched &&
              profileForm.get('password')?.invalid,
            'border-gray-300 focus:ring-blue-400': !(
              profileForm.get('password')?.touched &&
              profileForm.get('password')?.invalid
            ),
          }"
        />

        <fa-icon
          [icon]="showPassword ? iconEye : iconEyeClose"
          class="absolute right-3 top-12 transform -translate-y-1/2 text-2xl focus:outline-none"
          (click)="showPassword = !showPassword"
        ></fa-icon>

        <!-- error message for show -->
        <div
          *ngIf="
            profileForm.get('password')?.touched &&
            profileForm.get('password')?.invalid
          "
          class="text-red-500 text-sm mt-1"
        >
          <span *ngIf="profileForm.get('password')?.errors?.['required']"
            >Password is required.</span
          >
          <span *ngIf="profileForm.get('password')?.errors?.['minlength']">
            Password must be at least 8 characters.
          </span>
          <span *ngIf="profileForm.get('password')?.errors?.['pattern']">
            Must include uppercase, lowercase, number, and special character.
          </span>
        </div>
      </div>

      <!-- Confirm Password Field -->
      <div class="my-4">
        <label for="confirmPassword" class="block mb-1 text-sm font-medium">
          Confirm Password
        </label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm password"
          class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400"
        />
        <div
          *ngIf="
            profileForm.hasError('mismatch') &&
            profileForm.get('confirmPassword')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          Passwords do not match.
        </div>
      </div>
      <div class="w-full p-2">
        <div class="flex justify-end">
          <app-dynamic-button
            [mode]="'submit'"
            [size]="'sm'"
            [shadow]="'button'"
            [buttonRounded]="'lg'"
            [buttonText]="'confirm'"
            (buttonClick)="onUpdate()"
          ></app-dynamic-button>
        </div>
      </div>
    </form>
    <!-- Button -->
  </div>
</div>
