        <div
            class="block shadow-sm shadow-gray-500 bg-gray-100 rounded-2xl w-full h-full p-4 my-2" [ngClass]="selected ? 'border-2 border-gray-600': ''" (click)="handleSelectProject()"
            >
            <h2
                class="text-xl font-semibold text-black flex justify-between items-center  py-1">
                <!-- {{project.project_title}}  -->
                <p
                    class="p-2 rounded-lg bg-gray-400 text-center text-sm font-medium text-white  ">
                    {{project.projectStatus }}
                </p>
            </h2>
            <p class="text-lg font-normal py-1 ">
                {{project.project_subtitle}}
            </p>
            <div
                class="w-full h-auto flex justify-start items-center gap-2 py-2"
                *ngIf="project.project_requirement.length">
                <p
                    class="p-2 rounded-xl bg-white text-center text-sm font-medium "
                    *ngFor="let chip of project.project_requirement ">
                    {{chip}}
                </p>
            </div>
            <p class="text-lg font-normal text-black py-1">
                User Engaged: {{project.working_resource.length}}
            </p>

        </div>