<div [formGroup]="formGroup">
  <label class="block font-medium py-2 border-b-2">{{ label }}</label>

  <div
    [formArrayName]="arrayName"
    class="grid grid-cols-1 md:grid-cols-2 gap-4 my-4"
  >
    <div
      *ngFor="let ctrl of formArray.controls; let i = index"
      class="relative"
    >
      <input
        [formControlName]="i"
        class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400"
      />
      <div
        *ngIf="ctrl.touched && ctrl.invalid"
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="ctrl.errors?.['required']">This field is required</div>
      </div>
    </div>
  </div>
</div>
