<div class="p-6 bg-white shadow rounded-lg max-w-4xl mx-auto w-full">
  <h2 class="text-xl font-semibold mb-4">{{ title }}</h2>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div class="w-full block">
      <h1
        class="w-full flex justify-center align-middle text-lg font-medium text-black py-2"
      >
        {{ title }}
      </h1>
      <!-- Projected form fields go here -->
      <ng-content select="[form-body]"></ng-content>
    </div>

    <div class="mt-6 flex justify-end">
      <button
        type="submit"
        [class]="color + ' text-white px-4 py-2 rounded hover:opacity-90'"
        [disabled]="disableIfInvalid && form.invalid"
      >
        {{ submitBtnTitle }}
      </button>
    </div>
  </form>
</div>
