<form [formGroup]="projectResource">
  <!-- name end -->
  <app-form-input
    [label]="'Name'"
    [controlName]="'name'"
    [formGroup]="projectResource"
  ></app-form-input>
  <!-- name end -->

  <!-- email -->
  <app-form-input
    [label]="'Email'"
    [controlName]="'email'"
    [type]="'email'"
    [formGroup]="projectResource"
  ></app-form-input>
  <!-- email end -->

  <!-- score -->
  <app-form-input
    [label]="'score'"
    [controlName]="'performance_score'"
    [type]="'number'"
    [formGroup]="projectResource"
    [min]="0"
    [max]="100"
  ></app-form-input>
  <!-- score end -->

  <!-- Time -->
  <app-form-input
    [label]="'Time Spent'"
    [controlName]="'time_spent_hours'"
    [type]="'number'"
    [formGroup]="projectResource"
    [min]="0"
    [max]="100"
  ></app-form-input>
  <!-- Time end -->
</form>
