<form [formGroup]="projectScore">
  <div formArrayName="working_resource_scores">
    <div
      *ngFor="let ctrl of workingResourceScores.controls; let i = index"
      [formGroupName]="i"
      class="py-1"
    >
      <label class="block font-medium py-1">
        {{ ctrl.get('name')?.value }}
      </label>
      <input
        class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400"
        type="number"
        formControlName="performance_score"
        min="0"
        max="100"
      />

      <!-- Validation Error -->
      <div
        *ngIf="ctrl.get('performance_score')?.touched && ctrl.get('performance_score')?.invalid"
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="ctrl.get('performance_score')?.errors?.['required']">
          Score is required
        </div>
        <div *ngIf="ctrl.get('performance_score')?.errors?.['min']">
          Minimum allowed score is
          {{ ctrl.get('performance_score')?.errors?.['min'].min }}
        </div>
        <div *ngIf="ctrl.get('performance_score')?.errors?.['max']">
          Maximum allowed score is
          {{ ctrl.get('performance_score')?.errors?.['max'].max }}
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Footer -->
<!-- <div footer-controls class="w-full">
  <div class="flex justify-end">
    <button
      [disabled]="projectScore.invalid"
      (click)="onSubmit()"
      class="bg-green-500 text-black text-sm tracking-wide font-medium px-5 py-2 rounded hover:opacity-90"
      [ngClass]="{
        'opacity-100': !projectScore.invalid,
        'opacity-50 cursor-not-allowed': projectScore.invalid
      }"
    >
      Submit
    </button>
  </div>
</div> -->
