/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #60a5fa; /* Tailwind's blue-400 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Tailwind's gray-200 */
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #60a5fa #e5e7eb;
}
