 <div class="chart-container w-auto h-32">
    <div class="grid grid-cols-2 gap-3">
        <div class="rounded-sm p-3 shadow bg-[var(--surface)]"
            *ngFor="let resource of projectResources">
            <h2
                class="text-sm flex justify-start w-full font-medium tracking-wide py-1 text-[var(--foreground)]">
                {{resource.name}}
            </h2>
            <div class="w-full h-auto"
                [ngClass]="resource.performance_score > 10 ? 'block' : 'hidden'">
                <!-- Progress bar with tooltip -->
                <app-dynamic-progress-bar [progressBarTitle]="''"
                    [score]="resource.performance_score" [height]="'sm'"
                    [striped]="false"></app-dynamic-progress-bar>
            </div>
        </div>
    </div>
</div>