 <div class="chart-container w-auto h-32">
    <div class="grid grid-cols-2 gap-3">
        <div class="rounded-sm p-3 shadow bg-red-400"
            *ngFor="let resource of projectResources">
            <div class="flex justify-between items-center p-2">

                <h2
                    class="text-sm flex justify-start w-full font-medium tracking-wide py-1 text-[var(--foreground)]">
                    {{resource.name}}
                </h2>
                <fa-icon
                    *ngIf="icon"
                    [icon]="icon"
                    class="text-lg cursor-pointer rounded-md transition-all duration-200 hover:scale-110"
                    style="color: var(--foreground)"
                    (click)="handleProjectResounce($event) ">
                </fa-icon>
            </div>
            <div class="w-full h-auto"
                [ngClass]="resource.performance_score > 10 ? 'block' : 'hidden'">
                <!-- Progress bar with tooltip -->
                <app-dynamic-progress-bar [progressBarTitle]="''"
                    [score]="resource.performance_score" [height]="'sm'"
                    [striped]="false"></app-dynamic-progress-bar>
            </div>
        </div>
    </div>
</div>